.bodyClass {
    background-image: url(https://image.freepik.com/free-vector/floating-laughing-emoji_53876-89114.jpg);
    background-size: cover;
}

.header {
    text-align: center;
    font-size: larger;
    font-family: fantasy;
}


